# Cleaning Data

## Column Names

When using pandas, having Python-friendly column names makes attribute access possible. The pyjanitor `clean_names` function will return a DataFrame with columns in lowercase and spaces replaced by underscores:

In [1]:
#! pip install pyjanitor

In [2]:
import janitor as jn 
import pandas as pd 

Xbad = pd.DataFrame(
    {
        'A': [1, None, 3],
        '  sales numbers ': [20.0, 30.0, None]
    }
)
Xbad

     A    sales numbers
0  1.0              20.0
1  NaN              30.0
2  3.0               NaN

In [6]:
Xbad = jn.clean_names(Xbad)
Xbad

     a  _sales_numbers_
0  1.0             20.0
1  NaN             30.0
2  3.0              NaN

### TIP

It is recommended updating columns using index assignement, the `.assign` method, `.loc` or `iloc` assignements. It also recommendednot using attribute assignement to update columns in pandas. Due to the risk of overwriting existing methods with the same name as a column, attribute, assignement is not guaranted to work.

The pyjanitor library is handy, nut does not allow to strip whitespaces around columns. We can use pandas to have more fine-grained control of the column renaming:

In [7]:
def clean_col(name):
    return (
    name.strip().lower().replace(' ','_'))

In [8]:
Xbad = pd.DataFrame(
    {
        'A': [1, None, 3],
        '  sales numbers ': [20.0, 30.0, None]
    }
)

In [10]:
Xbad.rename(columns = clean_col, inplace = True)
Xbad

     a  sales_numbers
0  1.0           20.0
1  NaN           30.0
2  3.0            NaN

## Replacing Missing Values

The `coalesce` function in pyjanitor takes a DataFrame and a list of columns to consider. This is similar to functionality found in Excel and SQL databases. It returns the first nonnull value for each row:

In [11]:
Xbad = pd.DataFrame(
    {
        'A': [1, None, 3],
        '  sales numbers ': [20.0, 30.0, None]
    }
)

In [29]:
Xbad.coalesce('A', '  sales numbers ')
# https://pyjanitor-devs.github.io/pyjanitor/reference/janitor.functions/janitor.coalesce.html

      A    sales numbers
0   1.0              20.0
1  30.0              30.0
2   3.0               NaN

In [15]:
Xbad.fillna(10)

      A    sales numbers
0   1.0              20.0
1  10.0              30.0
2   3.0              10.0

In [31]:
Xbad.fill_empty(column_names='A',
                value = 10)

      A    sales numbers
0   1.0              20.0
1  10.0              30.0
2   3.0               NaN

As sanity check before creating models, you can use pandas to ensure that you have dealt with all missing values. The followinf code returns a single boolean if there is any cell that is misisng in a DataFrame:

In [33]:
Xbad.isna().any().any()

True